@media (max-width: 870px) {
    @media (min-width:440px) {
        .contLogin {
            position: absolute;
            top: 50%;
            right: 10vw;
            transform: translate(0, -50%)
        }
    }
}

.rowHome {
    height: 100vh;
}

.contLogin {
    margin: auto;
}