.header{
    background-color: black;
    position: absolute;
    width: 100%;
}
.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    max-width: none;
}
.login{
    background-color: white;
    color: black;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-weight: bold;
 
}
.homePage{
    color: white;
    font-weight: bold;
    
}
.homePage:hover{
    color: white;
}
.login:hover{
    background-color: white;
}
.imgFundo {
    position: absolute;
    z-index: -1;
    width:100%;
    height: 100%;
    object-fit: cover;
}