.colCadastro {
    align-items: center;
    display: flex;
}

.contCadastro{
    width: 350px;
    background-color: #E2E2E2;
    border-radius: 25px;
    border: 4px solid black;
    margin: auto;
    height:fit-content;
    padding: 20px;
    padding-top:10px;
}

.btnCadastro {
    width: 100%;
    height: 35px;
    background-color: #FF7A00;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 5px 0px rgba(110,100,110,0.74);

}

.row-input1, .row-input2, .row-input3 {
    display: grid;
}
.row-input3 {
    grid-template-columns: 2fr 1fr;
}

.col-input {
    margin: 3px;

}
#confirmeSenhaCadastro {
    margin-bottom: 4px;
}

.cadastro-input {
    font-size: small;
}

.slogan {
    font-size:medium;
    margin-bottom: 0.5rem;
}